<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="wrap_content">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minWidth="25px"
        android:minHeight="25px">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="#a3eaa1"
            android:layout_marginTop="10px">
        <!--data-->
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout1"
                android:layout_marginLeft="20dp"
                android:layout_marginRight="20dp"
                android:layout_marginTop="5dp"
                android:gravity="center">
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout4"
                    android:gravity="center"
                    android:layout_weight="1">
                    <TextView
                        android:text=""
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:textColor="@color/negro"
                        android:gravity="center_vertical"
                        android:textStyle="bold"
                        android:id="@+id/txtPlantProduct" />
                </LinearLayout>
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout1"
                android:layout_marginLeft="20dp"
                android:layout_marginRight="20dp"
                android:layout_marginTop="5dp"
                android:gravity="center">
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout4"
                    android:gravity="center"
                    android:layout_weight="1">
                    <TextView
                        android:text="Calidad:"
                        android:textStyle="bold"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:textColor="@color/negro"
                        android:gravity="center_vertical"
                        android:id="@+id/txt" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout4"
                    android:gravity="center"
                    android:layout_weight="1">
                    <TextView
                        android:text=""
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:textColor="@color/negro"
                        android:gravity="center_vertical"
                        android:id="@+id/txtQuality" />
                </LinearLayout>
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout1"
                android:layout_marginLeft="20dp"
                android:layout_marginRight="20dp"
                android:layout_marginTop="5dp"
                android:gravity="center">
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout4"
                    android:gravity="center"
                    android:layout_weight="1">
                    <TextView
                        android:text="Color:"
                        android:textStyle="bold"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:textColor="@color/negro"
                        android:gravity="center_vertical"
                        android:id="@+id/txt" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout4"
                    android:gravity="center"
                    android:layout_weight="1">
                    <TextView
                        android:text=""
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:textColor="@color/negro"
                        android:gravity="center_vertical"
                        android:id="@+id/txtColour" />
                </LinearLayout>
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout1"
                android:layout_marginLeft="20dp"
                android:layout_marginRight="20dp"
                android:layout_marginTop="5dp"
                android:gravity="center">
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout4"
                    android:gravity="center"
                    android:layout_weight="1">
                    <TextView
                        android:text="Producto:"
                        android:textStyle="bold"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:textColor="@color/negro"
                        android:gravity="center_vertical"
                        android:id="@+id/txt" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout4"
                    android:gravity="center"
                    android:layout_weight="1">
                    <TextView
                        android:text=""
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:textColor="@color/negro"
                        android:gravity="center_vertical"
                        android:id="@+id/txtProduct" />
                </LinearLayout>
            </LinearLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout1"
                android:layout_marginLeft="20dp"
                android:layout_marginRight="20dp"
                android:layout_marginTop="5dp"
                android:gravity="center">
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout4"
                    android:gravity="center"
                    android:layout_weight="1">
                    <TextView
                        android:text="Cant. tallos:"
                        android:textStyle="bold"
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:textColor="@color/negro"
                        android:gravity="center_vertical"
                        android:id="@+id/txt" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent"
                    android:id="@+id/linearLayout4"
                    android:gravity="center"
                    android:layout_weight="1">
                    <TextView
                        android:text=""
                        android:layout_width="match_parent"
                        android:layout_height="match_parent"
                        android:textColor="@color/negro"
                        android:gravity="center_vertical"
                        android:id="@+id/txtQtyStem" />
                </LinearLayout>
            </LinearLayout>
        </LinearLayout>
    <!--Cosechadorr-->
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/linearLayout1"
            android:layout_marginLeft="20dp"
            android:layout_marginRight="20dp"
            android:layout_marginTop="10dp"
            android:gravity="center">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout4"
                android:gravity="bottom"
                android:layout_weight="1">
                <TextView
                    android:text="Colaborador:"
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:textColor="@color/negro"
                    android:gravity="center_vertical" />
            </LinearLayout>
        </LinearLayout>
    <!--Cosechador 2-->
        <LinearLayout
            android:orientation="horizontal"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:id="@+id/linearLayout1"
            android:layout_marginLeft="20dp"
            android:layout_marginRight="20dp"
            android:layout_marginTop="5dp"
            android:gravity="center">
            <LinearLayout
                android:orientation="vertical"
                android:layout_width="wrap_content"
                android:layout_height="match_parent"
                android:id="@+id/linearLayout4"
                android:gravity="left"
                android:layout_weight="2">
                <EditText
                    android:text=""
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/edColaborator"
                    android:textColor="@color/negro"
                    android:inputType="number"/>
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
</RelativeLayout>